/* Basic Layout */

h1 {
  color: white;
  background-color: black;
  padding: 20px;
  text-align: center;
}
.header {
text-align: center;
border-bottom: solid 5px;
}
.header_content {
  color: gray;
  font-size: 25px;
}
fieldset {
  border: none;
  margin: 20px 0 20 0;
}
.contact {
  width: 87%;
  margin-left: 0;
}
label {
  color: gray;
}
input::placeholder {
  text-align: right;
}
select {
  background-color: lightgray;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
}
input {
  background-color: lightgray;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}
button {
  background-color: #52bab3;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin: 20px 0 20px 0;
}
.newsletter label {
  display: inline;
}
.newsletter input {
  width: 10px;
  display: inline-block;
}
.copyright {
  text-align: center;
}
/* Flexbox */

/* .contact {
  display: flex;
  flex-direction: column;
  width: inherit;
} */


@media (min-width: 768px) {
  .main-form {
    /* width: 70%; */
    max-width: 1000px;
  }
}
