/* Basic Layout */


h1 {
  color: white;
  background-color: black;
  padding: 20px;
  text-align: center;
}
.header {
text-align: center;
border-bottom: solid 5px;
}
.header_content {
  color: gray;
  font-size: 25px;
}
fieldset {
  border: none;
}
label {
  color: gray;
}
input::placeholder {
  text-align: right;
}
select {
  background-color: lightgray;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
}
input {
  background-color: lightgray;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}
button {
  background-color: #52bab3;
  padding: 5px;
}

/* FLEXBOX */
.contact,
.newsletter {
  display: flex;
  flex-wrap: wrap;
}
input {
  flex-grow: 1;
}
